<h1><%= @task.title %>の詳細ページ</h1>

<p>進行状況:<%= @task.status %></p>
<p>期限:<%= @task.deadline %></p>
<p>タスク名:<%= @task.title %></p>
<p>内容:<%= @task.content %></p>

<%= link_to '編集する', edit_task_path %>
<%= link_to '一覧に戻る', tasks_path %>
<%= link_to '削除する', @task, method: :delete, data: {confirm: '本当に削除してよろしいですか?'} %>